{% extends 'imeiApp/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center links">
        {% for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}
    </div>

    {% if fields_tuple_list %}
        <table class="table table-striped">
            <tbody>
            {% for field in fields_tuple_list %}
                <tr>
                    <th scope="col">{{ field.0 }}</th>
                    <td scope="col">{{ field.1 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}