{% extends 'imeiApp/base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center">
        <h3 id="form-title">Here you can find details about the phone</h3>
    </div>
    <br>
    <div class="d-flex justify-content-center links">
        {% for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-8">
            {% if fields_tuple_list %}
                <table class="table table-striped">
                    <tbody>
                    {% for field in fields_tuple_list %}
                        <tr>
                            <th scope="col">{{ field.0 }}</th>
                            <td scope="col">{{ field.1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-4 text-center">
            <h6>Example phone photo</h6>
            <img src="{% static '/images/example_phone.png' %}" class="img-fluid" alt="Responsive image">
        </div>
    </div>

{% endblock %}